* {
    box-sizing: border-box;
}
body, html {
    margin:0;
    padding:0;
    background:black;
    background-image: url("../images/ai-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:4rem;
    line-height:1;
    margin:0;
    padding:0;
    letter-spacing: 2px;
}
h2 {
    font-size:58px;
}
h3 {
    font-size:52px;
}
h4 {
    font-size:46px;
}
h5 {
    font-size:40px;
}
h6 {
    font-size:34px;
}
p,
span {
    line-height:3;
}
nav {
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background:#383F47;
}
nav li a {
    color:white;
    text-decoration:none;
    font-size:16px;
    cursor: pointer;
    padding:20px;
    display:block;
    transition:all linear 0.4s;
}
nav li a:hover {
    background:white;
    color:slategray;
    transition:all linear 0.4s;
}
#about {
    background:rgba(0,0,0,0.7);
    width:100%;
    height:100vh;
    padding:0 20px;
}
#about .content {
    max-width:50%;
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
}
#contact {
    background:rgba(112,128,144,0.9);
}
.contact-form {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:20px;
}
.contact-form input,
.contact-form textarea,
.contact-form input[type="submit"] {
    margin-bottom:20px;
    padding:15px 20px;
    min-width:400px;
}
.contact-form label {
    font-size:24px;
    margin-bottom:10px;
}
::placeholder {
  color:black;
  font-weight:bold;
}
.contact-form input[type="submit"] {
  background:#30505C;
  color:white;  
  border:none;
  outline: none;
  cursor: pointer;
  transition:all 0.4s linear;
}
.contact-form input[type="submit"]:hover {
  background:white;
  color:#30505C;
  transition:all 0.4s linear;
}
#footer {
    background:black;
    padding:20px;
    text-align: center;
}
.staggered-grid {
    display:grid;
    grid-template-areas:"one two"
                        "one three";
    background:black;    
}
.staggered-grid .grid-child-one,
.staggered-grid .grid-child-two,
.staggered-grid .grid-child-three {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.staggered-grid .grid-child-one {
    background:rgba(192,169,188,0.5);
    grid-area: one;
}
.staggered-grid .grid-child-two {
    background:#9E496D;
    grid-area: two;
}
.staggered-grid .grid-child-three {
    background:#30505C;
    grid-area:three;
}
@media screen and (max-width:960px) {
    #about .content {
        max-width:90%;
    }
    .staggered-grid {
        grid-template-areas:"one one"
                            "two three";
        
    }
}
@media screen and (max-width:640px) {
  nav ul {
    justify-content: center;
  }
  #about {
    padding-top:75px;
    padding-left:0;
    padding-right:0;
    height:unset;
  }
  .staggered-grid {
    grid-template-areas:"one one"
                        "two two"
                        "three three";
  }
  .contact-form input, 
  .contact-form textarea, 
  .contact-form input[type="submit"] {
    min-width:100%;
  }
}